
</div>

<!-- Scripts -->
<script src="/javascripts/core.min.js" data-provide="sweetalert"></script>
<script src="/javascripts/app.min.js"></script>
<script src="/javascripts/script.js"></script>

</body>
</html>

