<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="cooltiop">

    <title>Dashboard</title>

    <!-- Styles -->
    <link href="/stylesheets/core.min.css" rel="stylesheet">
    <link href="/stylesheets/app.min.css" rel="stylesheet">
    <link href="/stylesheets/themify-icons.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Favicons -->
    <!--    <link rel="apple-touch-icon" href="./assets/img/apple-touch-icon.png">-->
    <!--    <link rel="icon" href="./assets/img/favicon.png">-->
</head>
<body class="topbar-unfix">
