<header class="topbar topbar-expand-lg topbar-secondary topbar-inverse">
    <div class="container">
        <div class="topbar-left">
            <span class="topbar-btn topbar-menu-toggler"><i>&#9776;</i></span>
            <div class="topbar-brand">
                <a href="/"><img class="logoSize" src="/images/logo/logo192.png" alt="..."></a>
            </div>
            <nav class="topbar-navigation">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="/commande">
                            <span class="title">Commandes</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="/reservation">
                            <span class="title">Reservations</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="/statistiques">
                            <span class="title">Statistiques</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="/items">
                            <span class="title">Items</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


        <div class="topbar-right">

            <ul class="topbar-btns">
                <li class="dropdown">
                    <span class="topbar-btn" data-toggle="dropdown"><i class="ti-user"></i></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="ti-user"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-power-off"></i> Logout</a>
                    </div>
                </li>


                <li>
                    <span class="topbar-btn has-new" data-toggle="quickview" data-target="#qv-notifications"><i class="ti-bell"></i></span>
                </li>

            </ul>

        </div>
    </div>
</header>
