<!--header-->
    <%- include('./partials/header') -%>
<!--end header-->

<!-- Toolbar -->
    <%- include('./partials/topbar') -%>
<!-- END Toolbar -->



    <!-- Main container -->
    <main class="main-container">


      <header class="header header-inverse">
        <div class="container">
          <div class="header-info">
            <div class="left">
              <br>
              <h2 class="header-title"><strong>Dashboard</strong></h2>
            </div>
            <div class="right flex-middle d-none d-md-block">
              <form class="lookup lookup-circle lookup-lg lookup-right" target="/index">
                <input type="text" name="s">
              </form>
            </div>
          </div>
        </div>
      </header><!--/.header -->




<!--  after the header-->
      <div class="main-content">
        <div class="container">
          <div class="row">



            <div class="col-12 h-50px"></div>





          </div>
        </div>
      </div>
<!--/after the header-->




      <!-- Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center text-sm-left">Designed using <a href="http://inchtechs.com"><strong>Inchtechs</strong></a></p>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
      <!-- END Footer -->
    </main>

    <!-- Notifications -->
    <div id="qv-notifications" class="quickview">
      <header class="quickview-header quickview-header-lg">
        <h5 class="quickview-title">Notifications</h5>
        <span class="close"><i class="ti-close"></i></span>
      </header>

      <div class="quickview-body">
        <div class="media-list media-list-hover media-list-divided media-sm">
          <a class="media media-new" href="#">
            <span class="avatar bg-success"><i class="ti-user"></i></span>
            <div class="media-body">
              <p>New user registered</p>
              <time datetime="2018-07-14 20:00">Just now</time>
            </div>
          </a>

          <a class="media" href="#">
            <span class="avatar bg-purple"><i class="ti-comment"></i></span>
            <div class="media-body">
              <p>New review on Samsung Galaxy S7</p>
              <time datetime="2018-07-14 20:00">Aug 17</time>
            </div>
          </a>
        </div>
      </div>
    </div>
<!-- Footer -->
 <%- include('./partials/footer') -%>
<!-- Footer -->
